<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PathMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PathMaker.Properties.Settings>
            <setting name="StrokeColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="FillColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="StrokeThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainWndHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainWndWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainWndState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TopPanelHeight" serializeAs="String">
                <value>100</value>
            </setting>
        </PathMaker.Properties.Settings>
    </userSettings>
</configuration>